body { background-color: #f5f5f5; } /* Gris muy claro */

.header { 
    background-color: #a6d0ed; /* Celeste suave */
    text-align: center;
    padding: 20px;
}

.flex-padre {
    display: flex;
    margin-top: 10px;
    color: aqua;
}

.section-bio { 
    flex: 3; 
    background-color: white; 
    border: 1px solid #ccc;
    padding: 20px;
    color: green;
}

.aside-skills { 
    flex: 1; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    padding: 20px;
    color: red;
}

/* HOVER OBLIGATORIO: Sombra en el Section */
.section-bio:hover {
    box-shadow: 10px 10px 20px rgba(159, 26, 26, 0.1);
}