.flex-padre { display: flex; }

/* El SECTION ahora es padre de las noticias */
.section-noticias {
    display: flex; 
    flex: 3;
    gap: 15px;
    padding: 10px;
}

.noticia {
    flex: 1;
    border: 2px solid black;
    height: 200px;
    transition: 0.3s; /* Para que el hover sea suave */
}

/* HOVER OBLIGATORIO: Cambia color y se agranda */
.noticia:hover {
    background-color: yellow;
    transform: scale(1.1);
}

/* Colores distintos como pide el profe */
.n1 { background: coral; }
.n2 { background: lightblue; }
.n3 { background: lightgreen; }