body{
    background: url(../image/ie5uinl8cqaf1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 930px;
    border: solid 1px;
    }

.item{

    width: 100px;
    height: 100px;
    background-color: brown;
    border: solid 1px;
    margin: 10px;
    padding: 10px;
    color: aqua;
    font-size: 30;
}
.item:hover{
    background-color: rgb(106, 47, 145);
    font-size: 75px;
    width: 300px;
    height: 300;
    cursor: pointer;
    transition: all 0.6s ease;
}