.flex-padre {
    display: flex;
    gap: 10px;
}
.section { flex: 3; background: lightgray; border: 1px solid black; }
.aside { flex: 1; background: gray; border: 1px solid black; }

/* Ejemplo de fondo con imagen en el CSS como tienes en tu apunte */
.header {
    height: 500px;
    background-image: url(../image/62f3eb2fcc5d1ec5ee8d9e5c043d577a.png);
    background-size: cover;
}